<rma-header text="Home" icon="home" routeUrl=""></rma-header>

<mat-card class="float-left margin10 filter">
    <form autocomplete="off" novalidate [formGroup]="charactersFilter">
        <div class="float-left width50">
            <div class="padding10">
                <rma-input-text placeholder="Search by Name" 
                                controlName="name" 
                                [formGroup]="charactersFilter">
                </rma-input-text>
            </div>
        </div>
        <div class="float-left width25">
            <div class="padding10">
                <rma-input-select placeholder="Status" 
                                  controlName="status" 
                                  [options]="allStatus" 
                                  [formGroup]="charactersFilter">
                </rma-input-select>
            </div>
        </div>
        <div class="float-left width25">
            <div class="padding10">
                <rma-input-select placeholder="Gender" 
                                  controlName="gender" 
                                  [options]="allGenders" 
                                  [formGroup]="charactersFilter">
                </rma-input-select>
            </div>
        </div>
    </form>
</mat-card>

<div class="home-content"
     infiniteScroll 
     (scrolled)="onScroll()" 
     *ngIf="characters.length; else noContent">
     <mat-card class="character-card" *ngFor="let character of characters" (click)="openCharacterInfo(character.id)">
        <mat-card-header>
            <mat-card-title>{{ character.name }}</mat-card-title>
            <mat-card-subtitle>Status: {{ character.status }} | Gender: {{ character.gender }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="character.image" alt="Character Image">
        <mat-card-content class="character-description">
            <span>Species: {{ character.species }}</span>
            <span *ngIf="character.type != ''; else noType">Type: {{ character.type }}</span>
            <span>Origin: {{ character.origin.name }}</span>
            <span>Location: {{ character.location.name }}</span>
        </mat-card-content>
    </mat-card>
</div>

<ng-template #noType>
    <span>Type: undefined</span>
</ng-template>

<ng-template #noContent>
    <h1 class="full-width main-div" style="color: white;">Characters not found!</h1>
</ng-template>

